body {
    margin: 0;
    padding: 0;
   background-color: #FFDDCC;
   user-select: none;
}
.container{
    position: absolute;
    top: 28%;
    left: 40%;
    text-align: center;
}
h4{
    margin-bottom: 12px;
}
.container input{
    width:90%;
    height: 30px;

}
.container select{
    width: 88%;
    height: 32px;
    margin-bottom: 19px;
}

.container button{
    width: 70%;
    height: 35px;
    background-color: rgb(36, 36, 153);
    color:#fff;
    border: none;
}
#result{
    display:flex;
    width: 90%;
    height: 27px;
    margin-bottom: 25px;
    text-align: center;
    margin-top: 60px;
}
#result p{
    margin-left: 10px;
    font-size: 17px;
    font-weight: bold;
    text-transform: uppercase;
}
#alert{
    color:red;
}
#cashback  {
    color: #000;
    font-size: 20px;
    font-weight: bold;
}